p{
	text-align:center;
	color:red;
	background-color:green;
	text-decoration:underline;
	font-style:italic;
	padding:50px;
	
}
h1{
	background-color:gray;
	color:red;
	padding:10px;
	display:inline-block;
	box-shadow:10px 10px 10px black;
	text-shadow:5px 5px 0px black;
}
.box{
	background-color:green;
	width:500px;
	height:300px;
	
    background:linear-gradient(to left bottom,green,brown,navy,yellow);
}
.box2{
	background-color:green;
	width:500px;
	height:300px;
	
    background:radial-gradient(green,brown,navy,yellow);
}
.fbox{
	background-color:green;
	width:500px;
	height:300px;
	margin:50px auto;
	position:relative;
}
.cir{
	background-color:red;
	width:250px;
	height:250px;
	border-radius:125px;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	
}
