
#menu{
	list-style-type:none;
	width:960px;
	background:black;
	border-bottom:2px solid #4E4E4E;
	min-height:38px;
	margin:0 auto;
}
#menu li{
	float:left;
	border-right:1px solid #605B5B;
	border-left:1px solid #2B2A2A;
	position:relative;
	
}
#menu li:last-child{
	border-right:none;
}
#menu li:first-child{
	border-left:none;
}

#menu li a{
	text-decoration:none;
	background:#4E4E4E;
	color:white;
	padding:10px 20px;
	display:block;
	transition:all 0.5s ease;
	
}
#menu li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-99999px;
	
}
#menu li ul li{
	float:none;
	border-left:none;
	border-right:none;
	border-top:1px solid #605B5B;
	border-bottom:1px solid #2B2A2A;
	width:150px;
	position:relative;
}
#menu li ul li ul{
	position:absolute;
	top:-99999px;
}
#menu a:hover{
	background:orange;
	color:red;
	
}
#menu li:hover ul{
	left:0px;
}
#menu li ul li:hover ul{
	top:0px;
	left:150px;
}