div.div1{
	height:150px;
	width:150px;
	border-radius:50%;
	background-color:red;
	animation-name:circle;
	animation-duration:6s;
	animation-iteration-count:infinite;
	animation-delay:2s;
	position:relative;
	animation-direction:alternate;
	
	
}
@keyframes circle{
	0%{
		background-color:red;
		left:0px;
		top:0px;
	}
	25%{
		background-color:green;
		left:1200px;
		top:0px
	}
	50%{
		background-color:yellow;
		left:1200px;
		top:450px
	}
	75%{
		background-color:blue;
		left:0px;
		top:450px;
		
	}
	100%{
		background-color:red;
		left:0px;
		top:0px;
	}
	
}